kind: Service
apiVersion: v1
metadata:
  name: dokuwiki-service
spec:
  selector:
    app: dokuwiki
  type: NodePort
  ports:
    - name: 80-http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: 443-https
      protocol: TCP
      port: 443
      targetPort: 443
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dokuwiki
  labels:
    app: dokuwiki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dokuwiki
  template:
    metadata:
      labels:
        app: dokuwiki
    spec:
      volumes:
      - name: dokuwiki-data
        persistentVolumeClaim:
                claimName: dokuwili-appdata
      imagePullSecrets:
      - name: pipeline-docker-registry
      containers:
      - name: dokuwiki
        image: ${CICD_IMAGE}:${CICD_EXECUTION_SEQUENCE}
        volumeMounts:
           - name: dokuwiki-data
             mountPath: "/bitnami"
        ports:
        - containerPort: 80
        - containerPort: 443  
